.anim-float-0 {
  animation: float 6s ease-in-out infinite;
}
.anim-float-1 {
  animation: float-1 6s ease-in-out infinite;
}
.anim-float-2 {
  animation: float-2 6s ease-in-out infinite;
}
.anim-float-3 {
  animation: float-3 6s ease-in-out infinite;
}
