:root {
  --primary: #151515;
  --text-color: #f1f1f1;
  --secondary: #d8ca98;
  --secondary-50: rgba(216, 202, 152, 0.5);

  --title-font: "Amarante", serif;
  --font-family: "Faculty Glyphic", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
}
