.container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  h4 {
    letter-spacing: 0;
    font-size: 18px;
    color: white;
    margin: 0;
  }
  p {
    font-weight: 400;
    opacity: 0.5;
    font-size: 14px;
    margin: 0;
  }
}
